@use '../../assets/styles/variables' as variables;

.add-relation-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #ffffff;
    padding: 2rem;

    .add-relation-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;

        .search-section-container {
            align-self: center;
            display: flex;
            flex-direction: row;
            height: min-content;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            gap: 1rem;
        }

        .page-title {
            text-align: start;
            font-size: 20px;
            font-weight: 500;
            color: variables.$text-dark;
        }

        .search-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: start;
            justify-content: center;
            flex-wrap: wrap;

            .text-field {
                color: variables.$text-muted;
                flex: 1;
                min-width: 480px;
            }
        }
        .add-relation-button {
            background-color: variables.$secondary-color;
            padding: 0 2rem;
            width: 150px;
            height: 62px;
            max-height: 62px;
        }
    }
}

.relations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

// Responsive design
@media (max-width: 768px) {
    .add-relation-page {
        .add-relation-content {
            .search-section {
                flex-direction: column;
                align-items: stretch;

                .text-field {
                    min-width: auto;
                    max-width: none;
                }

                .main-button {
                    min-width: auto;
                }
            }
        }
    }
}
