// Variables
$primary-color: #646cff;
$primary-hover: #535bf2;
$primary-light-hover: #747bff;

$light-bg: #ffffff;
$light-text: #213547;
$light-button-bg: #f9f9f9;

$border-radius: 8px;
$transition-duration: 0.25s;
